@font-face {
   font-family: 'Gilroy-Medium';
   font-display: swap;
   src: url('file:///Users/ronvrooij/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-12-17_111957/fonts/Gilroy-Medium/font.ttf');
}
